// app global css in SCSS form
@font-face {
  font-family: customfont;
  src: url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
}

@font-face {
  font-family: robotoCondensed;
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
}


